[submodule "lib/wpa-dictionary"]
	path = lib/wpa-dictionary
	url = https://github.com/conwnet/wpa-dictionary.git
[submodule "lib/RW_Password"]
	path = lib/RW_Password
	url = https://github.com/r35tart/RW_Password.git
[submodule "lib/PasswordDict"]
	path = lib/PasswordDict
	url = https://github.com/k8gege/PasswordDic.git
[submodule "lib/Blasting_dictionary"]
	path = lib/Blasting_dictionary
	url = https://github.com/rootphantomer/Blasting_dictionary.git
[submodule "lib/PasswordDic"]
	path = lib/PasswordDic
	url = https://github.com/k8gege/PasswordDic.git
